{% extends 'base.html.twig' %}

{% block title %}Zaloguj sie!{% endblock %}

{% block javascripts %}
<style>
    input{
        width: 300px;
        padding: 3px;
        margin: 5px;
        font-size: 15px;
        border-radius: 5px;
    }

    button{
        width: 300px;
        height: 50px;
        margin: 10px;
        font-size: 20px;
        font-family:Helvetica;
        -webkit-box-shadow: 10px 10px 25px -9px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 25px -9px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 25px -9px rgba(0,0,0,0.75);
    }

    a{
        text-decoration: none;
        color: #000;
    }

   .wrapper { 
        text-align: center;
        margin-left: 30%;
        margin-right: 30%;
        margin-top: 10%;
        font-family:Helvetica;
        width: 30%; 
        height: 50%;
        padding: 5%;
        background-color: grey;
        border: 1px solid #000;
        border-radius: 10px;
        -webkit-box-shadow: 6px 9px 25px 6px rgba(0,0,0,0.75);
        -moz-box-shadow: 6px 9px 25px 6px rgba(0,0,0,0.75);
        box-shadow: 6px 9px 25px 6px rgba(0,0,0,0.75);
    }
    
    .p{
        font-size:10px;
        font-family:Helvetica;
    }

    .back{
        position: fixed;
        left: 10px;
        top: 0;
        width:120px;
        height:40px;
        font-size: 20px;
        padding: 0;
        margin: 10;
    }
</style>

{% endblock %}
{% block body %}

<div class="wrapper">

    <h1>Logowanie</h1>

    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="Email" required autofocus>
        <br>
        <label for="inputPassword">Hasło</label>
        <input type="password" name="password" id="inputPassword" placeholder="Password" required>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button type="submit"> Sign in </button>
    </form>

    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}

    <a href= "{{ url("index") }}">
    <button class="back">Wróć</button>
    </a>
</div>
{% endblock %}
